.btn-primary {
    background-color: #fb8c44;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.btn-primary:hover {
    background-color: #3c2414;
    color: #e4efe3;
}
.btn-primary:focus {
    background-color: #fb8c44;
    color: white;
}
.btn-primary:focus,.btn-primary:active {
    outline: none !important;
    box-shadow: none !important;
 }

label {
    padding-bottom: 0px;
    font-weight: bold;
    color: #3c2414;
 }